{%load static%}
<div id="about" class="about">
    <div class="container">
        <div class="row">

            <div class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
                <div class="about_box">
                    <h2>About moon<br><strong class="black"> Farm and company</strong></h2>
                    <p>dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
                <div class="about_img">
                    <figure><img src="{%static 'ev/assets/images/about.png'%}" alt="img" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->
<!-- for_box -->
<div class="for_box_bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
                <div class="for_box">
                    <i><img src="{%static 'ev/assets/images/1.png'%}" alt="#"/></i>
                    <span>1996923</span>
                    <h3>Harvesta</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
                <div class="for_box">
                    <i><img src="{%static 'ev/assets/images/2.png'%}" alt="#"/></i>
                    <span>8000</span>
                    <h3>Units of Cattle</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
                <div class="for_box">
                    <i><img src="{%static 'ev/assets/images/3.png'%}" alt="#"/></i>
                    <span>60002</span>
                    <h3>Farm</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
                <div class="for_box">
                    <i><img src="{%static 'ev/assets/images/4.png'%}" alt="#"/></i>
                    <span>1623</span>
                    <h3>Units of Technic</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end for_box -->
<!-- offer -->
<div class="offer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Special <strong class="black"> Offers</strong></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="offer-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
                    <div class="offer_box">
                        <h3>Agriculture Products</h3>
                        <figure><img src="{%static 'ev/assets/images/offer1.png'%}" alt="img" /></figure>
                        <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 margin_ttt">
                    <div class="offer_box">
                        <h3>Fresh Vegatables</h3>
                        <figure><img src="{%static 'ev/assets/images/offer2.png'%}" alt="img" /></figure>
                        <p>consectetur adipiscing elit, sed do eiusmodmpor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 margin-lkk">
                    <div class="offer_box">
                        <h3>Farm Factory</h3>
                        <figure><img src="{%static 'ev/assets/images/offer3.png'%}" alt="img" /></figure>
                        <p>consectetur adipiscing elit, sed do eiusmodmpor incididunt ut labore et dolore magna</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <a class="read-more">See More</a>
                </div>
            </div>
        </div>
    </div>
</div>